#lista-exemplo-3{
    max-width: 700px;
    height: 260px;
    border: 1px solid black ;
    margin :auto;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    overflow-y: auto;
}
#lista-exemplo-3 li{
    width: 70px;
    height: 70px;
    margin-top: 10px;
    background-color: red;
    border: 1px black solid;
    margin-left: 10px;
}