body,li,ul,p{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: white;
}
img{
    max-width: 100%;
}
header{
    display: flex;

    padding: 30px;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: #1d1e20;

}

h1{
    text-align: center;
    margin-top: 100px;
}
.menu{
    display :flex;
    margin-left: 10px;
}
.menu li a{
    display: block;
    padding: 10px;
}

.grid1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 780px;
    gap: 20px;
    margin: 0 auto;
}
.grid1 > div:nth-child(n + 4){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.grid1 > div.anuncio{
    grid-column: 1;
    grid-row: 2/6;
    display: block;
}
@media(max-width: 600px)
{
    .grid1{
        grid-template-columns: repeat(2,1fr);
    }
    .grid1 > div:nth-child(n + 4){
        display: block;
    }
    .grid1 > div.anuncio{
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}
