<div class="header po-row po-mt-3">
  <po-button class="po-md-3"
      p-label="Orçamentos"
      p-type="default"
      p-kind="primary"
      [p-disabled]="true"
  >
  </po-button>
  <po-button class="po-md-3"
      p-label="Item"
      p-type="default"
      p-kind="primary"
  >
  </po-button>
  <po-button class="po-md-3"
      p-label="Ordem"
      p-type="default"
      p-kind="primary"
  >
  </po-button>
  <po-button class="po-md-3"
      p-label="Pedido"
      p-type="default"
      p-kind="primary"
  >
  </po-button>
<!--
  <po-toolbar p-title="teste"></po-toolbar>
  <po-menu [p-menus]="menus"></po-menu>
  <po-page-default p-title="AppName">
  <p> AppName page </p>
  </po-page-default>
  (p-click)="onClickButton()">
-->
</div>
<div class="po-row center orcamento-main">
  <h1 style="text-align: center;" class="po-md-12 po-font-display">Orçamentos</h1>
  <po-button class="po-md-12"
    p-kind="primary"
    p-label="Criar"
    >
  </po-button>
  <po-button class="po-md-12"
    p-kind="primary"
    p-label="Pesquisar"
    >
  </po-button>
</div>
