header img{
    width :60px;
}
header{
    height: 70px;
    border-bottom-right-radius: 80px;
    background-color: #4A4D6C;
    position: fixed;
    top: 0;
    width: 100%;
}
header nav.container{

    height: 100%;
    padding-inline: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

}
div#para-o-header{
    display: inline-block;
    width: 90%;
    height: 70px;
}