#container-exemplo-5{
    max-width: 300px;
    margin-inline: auto;
}
#lista-exemplo-5{
    min-width: 200px;
    height: 400px;
    list-style: none;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    padding: 0
}
#lista-exemplo-5 li{
   display: inline-block;
   margin-right: 10px;
   width: 100px;
   height: 100px;
   border: 1px black solid;
   background-color: rgb(255, 51, 157);
}
#teste-ex-5{
   max-width:700px;
}