<po-menu-panel
  [p-menus]="[{ label: 'Inicio', link: '/', icon: 'po-icon-user' },
  {label: 'Item', link: '/', icon: 'po-icon-camera' },
  {label: 'Ordem', link: '/', icon: 'po-icon-stock' },
  {label: 'Pedido', link: '/', icon: 'po-icon-news' }]">
</po-menu-panel>


<!--<po-toolbar p-title="AppName">
</po-toolbar>


https://po-ui.io/documentation/po-container

-->

<!--<po-menu [p-menus]="menus"></po-menu>-->
<po-container [p-no-border] = "true" p-title="Orçamentos" >
  <h2>Orçamentos</h2>
    <po-container [p-no-border] = "true" class="po-row teste" id="containerGeral">
      <po-container [p-no-border] = "true" class="po-row">
        <po-button class="po-offset-lg-3 po-offset-xl-3 po-xl-4 po-lg-4 po-md-6 po-sm-12" p-kind="primary" p-label="Criar"> </po-button>
      </po-container>

      <po-container [p-no-border] = "true" class="po-row">
        <po-button class="po-md-6" p-kind="primary" p-label="Pesquisar"> </po-button>
      </po-container>
    </po-container>
</po-container>
